<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	 <connectionStrings>
    <add name="CalculatorEntities" connectionString="metadata=res://*/CalcEDM.csdl|res://*/CalcEDM.ssdl|res://*/CalcEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Calculator;user id=sa;password=Violin07;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
		
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>